@model NimapInfotechDemo.Models.Category

@{
    ViewBag.Title = "Details";
}

<h4 style="margin-bottom:10px;">Category Details</h4>

<fieldset>
    <legend>Category</legend>

    <div class="display-field" style="margin-bottom:10px;">
        @Html.DisplayFor(model => model.CategoryName)
    </div>
    @if(Model.Products.Count > 0)
    {
    <div class="display-field">
        <table>
            <tr>
                <th>Product Name</th>
            </tr>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                </tr>
            }
        </table>
    </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
